/*Globals*/

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: rgba(245, 245, 245, 0.5);
}
a:hover {
  transition: 0.5s;
}

/*Nav*/

nav .mdl-button, nav a, nav i {
  color: rgba(255, 255, 255, 0.87);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
nav .mdl-menu {
  background-color: rgb(74, 168, 242);
}
nav .mdl-menu__item > a {
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 400;
}
nav .mdl-button:hover, nav .mdl-menu__item:hover {
  background-color: rgb(33, 140, 244);
}
.mdl-layout__header-row .is-active {
  position: relative;
  font-weight: bold;
}
.mdl-layout__header-row .is-active:after {
  content: "";
  width: 70%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 171, 64);
  left: 15%;
}
.mdl-layout-title {
  font-weight: 500;
}
.mdl-navigation__link {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.mdl-layout__drawer {
  overflow-y:auto;
  background-color: rgb(33, 150, 243);
}
.mdl-layout__drawer .mdl-layout-title {
  color: rgb(255, 255, 255);
}
.mdl-layout__drawer .mdl-button {
  text-align: left;
}

/*Main*/

.main a {
  text-decoration: none;
}
.top-contacts {
  justify-content: space-around;
  text-align: center;
  background-color: rgb(240, 240, 240);
}
.top-contacts>.mdl-cell {
  display: flex;
  flex-basis: 270px;
}
.section-header {
  justify-content: center;
}
.section-header>h2 {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.58);
}

/*Services*/

.section-services {
  max-width: 1000px;
  justify-content: center;
}
.section-services>.mdl-cell {
  flex-basis: 300px;
  flex-grow: 1;
}
.section-services .mdl-card__title, .section-services .mdl-card__supporting-text, .section-services .mdl-card__actions {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  width: 100%;
}
.section-services .mdl-card__title {
  padding-bottom: 0;
  flex-basis: 108px;
  text-align: center;
  background-color: rgb(33, 150, 243);
  color: rgba(255, 255, 255, 0.87);
}
.section-services .mdl-card__title:hover {
  background-color: rgb(33, 140, 244);
}
.section-services .mdl-card__title-text {
  align-self: center;
}
.section-services .mdl-card__supporting-text {
  line-height: 1.5em;
  flex-grow: 1;
}

/*Footer*/

.mdl-mega-footer--heading, .mdl-mega-footer__heading, .mdl-mega-footer--link-list li, .mdl-mega-footer__link-list li {
  font-size: 16px;
  line-height: 24px;
}
.mdl-mega-footer {
  display: flex;
  flex-direction: column;
}
.mdl-mega-footer__middle-section {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-around;
}
.mdl-mega-footer__drop-down-section {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 220px;
}
.mdl-mega-footer__heading-checkbox {
  margin: auto;
}
.mdl-mega-footer--top-section:after, .mdl-mega-footer--middle-section:after, .mdl-mega-footer--bottom-section:after, .mdl-mega-footer__top-section:after, .mdl-mega-footer__middle-section:after, .mdl-mega-footer__bottom-section:after {
  content: none;
}
.signature a {
  text-decoration: none;
}

/* Material icons */

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
