<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked="">
      <h4 class="mdl-mega-footer__heading">Контакты</h4>
      <ul class="mdl-mega-footer__link-list">
        <li><i class="fa fa-building"></i>: Украина, 40000, г. Сумы</li>
        <li><i class="fa fa-building"></i>: пер. Красовицкого 12/1</li>
        <li><i class="fa fa-phone"></i>: +38 066 76 33 650</li>
        <li><i class="fa fa-phone"></i>: (0542) 67 97 97</li>
        <li><i class="fa fa-envelope"></i>: <a href="mailto:slava@compfix.com.ua">slava@compfix.com.ua</a></li>
        <li><i class="fa fa-skype"></i>: <a href="skype:slavakbb?call">slavakbb</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked="">
      <h4 class="mdl-mega-footer__heading">График работы</h4>
      <ul class="mdl-mega-footer__link-list">
        <li>Пн <i class="fa fa-clock-o"></i> 10:00-18:00</li>
        <li>Вт <i class="fa fa-clock-o"></i> 10:00-18:00</li>
        <li>Ср <i class="fa fa-clock-o"></i> 10:00-18:00</li>
        <li>Чт <i class="fa fa-clock-o"></i> 10:00-18:00</li>
        <li>Пт <i class="fa fa-clock-o"></i> 10:00-18:00</li>
        <li>Сб <i class="fa fa-clock-o"></i> 10:00-16:00</li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked="">
      <h4 class="mdl-mega-footer__heading">Популярные статьи</h4>
      <ul class="mdl-mega-footer__link-list">
        <li><i class="fa fa-chevron-right"></i> <a href="/services/laptop_repair/">Ремонт ноутбуков</a></li>
        <li><i class="fa fa-chevron-right"></i> <a href="/services/computer_repair/">Ремонт компьютеров</a></li>
        <li><i class="fa fa-chevron-right"></i> <a href="/services/phone_repair/">Ремонт телефонов</a></li>
        <li><i class="fa fa-chevron-right"></i> <a href="/services/monitor_repair/">Ремонт мониторов</a></li>
        <li><i class="fa fa-chevron-right"></i> <a href="/services/printer_repair/">Ремонт принтеров</a></li>
        <li><i class="fa fa-chevron-right"></i> <a href="/services/sell/">Продажа техники</a></li>
      </ul>
    </div>
  </div>

  <div class="signature"><i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="https://github.com/rmrfroot" target="blank">rmrfroot</a></div>

</footer>
