    <header class="section-header mdl-grid">
      <h2>Услуги</h2>
    </header>
    <section class="section-services mdl-grid">
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/sell/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Продажа компьютерной техники</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          СЦ "РЕТОН" занимается продажей компьютеров, ноутбуков, серверов, проекторов, жк и плазменных панелей. Благодаря прямым поставкам цены вас не разочаруют!
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/sell/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/laptop_repair/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Ремонт ноутбуков</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          Осуществляем срочный и постгарантийный ремонт, сервисное обслуживание, диагностику и модернизацию ноутбуков в Сумах. У нас работают высококлассные инженеры с огромным опытом работы. Если ваш ноутбук поламался, скорее несите его к нам!
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/laptop_repair/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/computer_repair/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Ремонт компьютеров</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          Мы предлагаем вам качественно и быстро устранить неполадки в вашем компьютере и предоставляем такие услуги как: ремонт деталей или комплекс таких замен, различные технологические доработки, ремонт материнской платы, блока питания, модернизация компьютера,
          а так же тестирование и настройка компьютерного оборудования.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/computer_repair/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/bicycle/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Ремонт малогабаритного электротранспорта</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          Ремонт малогабаритного электротранспорта.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/bicycle/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/monitor_repair/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Ремонт мониторов</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          Ремонт ЖК мониторов любых моделей. Мы предлагаем услуги по ремонту любого уровня сложности: такие как диагностика, чистка от пыли, замена комплектующих, замена матрицы, тестирование.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/monitor_repair/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/printer_repair/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Ремонт принтеров</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          Ремонт струйных и лазерных принтеров, факсов, копиров, МФУ. Заправка и реставрация картриджей. Поставка картриджей, расходных материалов и офисной техники.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/printer_repair/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/tablet_repair/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Ремонт планшетов</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          Сервисный центр РЕТОН предоставляет полный спектр услуг по ремонту планшетов и электронных книг в Сумах. Гарантия качества, низкие цены.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/tablet_repair/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/phone_repair/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Ремонт мобильных телефонов</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          Быстрый и качественный ремонт мобильных телефонов, смартфонов, КПК и коммуникаторов в Сумах. Гарантия качества, низкие цены.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/phone_repair/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <a href="/services/navigator_repair/" class="mdl-card__title mdl-card--border">
          <div>
            <h3 class="mdl-card__title-text">Ремонт навигаторов</h3>
          </div>
        </a>
        <div class="mdl-card__supporting-text">
          Сломался навигатор или видеорегистратор? Звоните и приносите! Ремонт навигаторов и видеорегистраторов в городе Сумы. Замена стекла, разъема, ремонт кнопок.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/services/navigator_repair/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее
          </a>
        </div>
      </div>
    </section>
