<h3>Title h3</h3>
<section class="article-section">
  <nav class="article-nav">
    <ul>
      <li><a href="">пункт1</a></li>
      <li><a href="">пункт2</a></li>
      <li><a href="">пункт3</a></li>
      <li><a href="">пункт4</a></li>
      <li><a href="">пункт5</a></li>
    </ul>
  </nav>
</section>
<p><a href="">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. Ab, sequi, maxime! Veritatis nisi nulla aliquid dolores, dolor a alias similique dolorum ab, fugiat, adipisci velit, architecto saepe inventore molestiae. Magni!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod suscipit, earum corporis itaque explicabo maiores totam fugiat molestias nisi illo veritatis, numquam distinctio eaque voluptatum esse labore voluptas, cumque blanditiis.</p>
<p>Список:
  <ul>
    <li>пункт в списке 1</li>
    <li>пункт в списке 2</li>
    <li>пункт в списке 3</li>
    <li>пункт в списке 4</li>
  </ul>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum aperiam et similique omnis vero, doloribus amet, alias quos in nam ad numquam obcaecati consequuntur cum, quam facere iste est ullam.</p>
