<header class="mdl-layout__header">
  <div class="mdl-layout__header-row mdl-layout--large-screen-only">
    <h1 class="mdl-layout-title">Сервисный центр "РЕТОН"</h1>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <button class="mdl-button is-active">
        <a href="/">Главная</a>
      </button>
      <button id="uslugi-dropdown" class="mdl-button mdl-js-button mdl-js-ripple-effect">Услуги <i class="fa fa-chevron-down"></i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="uslugi-dropdown">
        <li class="mdl-menu__item"><a href="/services/sale/">Продажа техники</a></li>
        <li class="mdl-menu__item"><a href="">Ремонт ноутбуков</a></li>
        <li class="mdl-menu__item"><a href="">Ремонт компьютеров</a></li>
        <li class="mdl-menu__item"><a href="">Установка ПО</a></li>
        <li class="mdl-menu__item"><a href="">Ремонт мониторов</a></li>
        <li class="mdl-menu__item"><a href="">Ремонт принтеров</a></li>
        <li class="mdl-menu__item"><a href="">Ремонт планшетов</a></li>
        <li class="mdl-menu__item"><a href="">Ремонт телефонов</a></li>
        <li class="mdl-menu__item"><a href="">Ремонт навигаторов</a></li>
      </ul>
      <!-- <button class="mdl-button">
        <a href="">Новости</a>
      </button> -->
      <button class="mdl-button">
        <a href="/about/">О компании</a>
      </button>
      <button class="mdl-button">
        <a href="">Контакты</a>
      </button>
    </nav>
  </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">СЦ "РЕТОН"</span>
  <nav class="mdl-navigation">
    <button class="mdl-button">
      <a href="/">Главная</a>
    </button>
    <button id="uslugi-dropdown-drawer" class="mdl-button mdl-js-button mdl-js-ripple-effect">Услуги <i class="fa fa-chevron-down"></i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="uslugi-dropdown-drawer">
      <li class="mdl-menu__item"><a href="/services/sale/">Продажа техники</a></li>
      <li class="mdl-menu__item"><a href="">Ремонт ноутбуков</a></li>
      <li class="mdl-menu__item"><a href="">Ремонт компьютеров</a></li>
      <li class="mdl-menu__item"><a href="">Установка ПО</a></li>
      <li class="mdl-menu__item"><a href="">Ремонт мониторов</a></li>
      <li class="mdl-menu__item"><a href="">Ремонт принтеров</a></li>
      <li class="mdl-menu__item"><a href="">Ремонт планшетов</a></li>
      <li class="mdl-menu__item"><a href="">Ремонт телефонов</a></li>
      <li class="mdl-menu__item"><a href="">Ремонт навигаторов</a></li>
    </ul>
    <!-- <button class="mdl-button">
      <a href="">Новости</a>
    </button> -->
    <button class="mdl-button">
      <a href="/about/">О компании</a>
    </button>
    <button class="mdl-button">
      <a href="">Контакты</a>
    </button>
  </nav>
</div>
