<header class="mdl-layout__header">
  <div class="mdl-layout__header-row mdl-layout--large-screen-only">
    <h1 class="mdl-layout-title">Сервисный центр "РЕТОН"</h1>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a href="/" class="mdl-button is-active">Главная</a>
      <button id="uslugi-dropdown" class="mdl-button mdl-js-button mdl-js-ripple-effect">Услуги <i class="fa fa-chevron-down"></i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="uslugi-dropdown">
        <li class="mdl-menu__item"><a href="/services/sell/">Продажа техники</a></li>
        <li class="mdl-menu__item"><a href="/services/laptop_repair/">Ремонт ноутбуков</a></li>
        <li class="mdl-menu__item"><a href="/services/computer_repair/">Ремонт компьютеров</a></li>
        <li class="mdl-menu__item"><a href="/services/software/">Установка ПО</a></li>
        <li class="mdl-menu__item"><a href="/services/monitor_repair/">Ремонт мониторов</a></li>
        <li class="mdl-menu__item"><a href="/services/printer_repair/">Ремонт принтеров</a></li>
        <li class="mdl-menu__item"><a href="/services/tablet_repair/">Ремонт планшетов</a></li>
        <li class="mdl-menu__item"><a href="/services/phone_repair/">Ремонт телефонов</a></li>
        <li class="mdl-menu__item"><a href="/services/navigator_repair/">Ремонт навигаторов</a></li>
      </ul>
      <!-- <button class="mdl-button">
        <a href="">Новости</a>
      </button> -->
      <a href="/about/" class="mdl-button">О компании</a>
      <a href="/contacts/" class="mdl-button">Контакты</a>
    </nav>
  </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">СЦ "РЕТОН"</span>
  <nav class="mdl-navigation">
    <a href="/" class="mdl-button">Главная</a>
    <button id="uslugi-dropdown-drawer" class="mdl-button mdl-js-button mdl-js-ripple-effect">Услуги <i class="fa fa-chevron-down"></i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="uslugi-dropdown-drawer">
      <li class="mdl-menu__item"><a href="/services/sell/">Продажа техники</a></li>
      <li class="mdl-menu__item"><a href="/services/laptop_repair/">Ремонт ноутбуков</a></li>
      <li class="mdl-menu__item"><a href="/services/computer_repair/">Ремонт компьютеров</a></li>
      <li class="mdl-menu__item"><a href="/services/software/">Установка ПО</a></li>
      <li class="mdl-menu__item"><a href="/services/monitor_repair/">Ремонт мониторов</a></li>
      <li class="mdl-menu__item"><a href="/services/printer_repair/">Ремонт принтеров</a></li>
      <li class="mdl-menu__item"><a href="/services/tablet_repair/">Ремонт планшетов</a></li>
      <li class="mdl-menu__item"><a href="/services/phone_repair/">Ремонт телефонов</a></li>
      <li class="mdl-menu__item"><a href="/services/navigator_repair/">Ремонт навигаторов</a></li>
    </ul>
    <!-- <button class="mdl-button">
      <a href="">Новости</a>
    </button> -->
    <a href="/about/" class="mdl-button">О компании</a>
    <a href="/contacts/" class="mdl-button">Контакты</a>
  </nav>
</div>
