<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include nav.html %}
    <div class="mdl-layout__content">
      <div class="main">
        <main role="main">
          <div class="top-contacts mdl-grid">
            <div class="mdl-cell mdl-cell--hide-phone"><a href="tel:+380542679797"><span class="mdl-typography--title mdl-typography--text-center"><i class="material-icons md-18">local_phone</i> +38(0542)679797</span></a></div>
            <div class="mdl-cell"><a href="tel:+380667633650"><span class="mdl-typography--title mdl-typography--text-center"><i class="material-icons md-18">phone</i> +38(066)7633650</span></a></div>
            <div class="mdl-cell"><a href="https://goo.gl/maps/4BfDRPns63r" target="blank"><span class="mdl-typography--title mdl-typography--text-center"><i class="material-icons md-18">place</i> пер. Красовицкого 12/1</span></a></div>
          </div>
          {{ content }}
        </main>
      </div>
      {% include footer.html %}
    </div>
  </div>
  <script defer src="/js/material.min.js"></script>
  <!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44354191 = new Ya.Metrika({
                    id:44354191,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44354191" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  <script async="async" src="https://w.uptolike.com/widgets/v1/zp.js?pid=1660204" type="text/javascript"></script>
</body>

</html>
