<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include nav.html %}
    <div class="mdl-layout__content">
      <div class="main">
        <main role="main">
          <div class="top-contacts mdl-grid">
            <div class="mdl-cell mdl-cell--hide-phone"><a href="tel:+380542679797"><span class="mdl-typography--title mdl-typography--text-center"><i class="material-icons md-18">local_phone</i> +38(0542)679797</span></a></div>
            <div class="mdl-cell"><a href="tel:+380667633650"><span class="mdl-typography--title mdl-typography--text-center"><i class="material-icons md-18">phone</i> +38(066)7633650</span></a></div>
            <div class="mdl-cell"><a href="https://goo.gl/maps/4BfDRPns63r" target="blank"><span class="mdl-typography--title mdl-typography--text-center"><i class="material-icons md-18">place</i> пер. Красовицкого 12/1</span></a></div>
          </div>
          <article class="article mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp">
              {{ content }}
            </div>
          </article>
        </main>
      </div>
      {% include footer.html %}
    </div>
  </div>
  <script defer src="/js/material.min.js"></script>
</body>

</html>
